@import "tailwindcss";

@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --animate-fadeIn: fadeIn 0.2s ease-out;
  --animate-slideIn: slideIn 0.3s ease-out;
  --animate-modalSlide: modalSlide 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-spin: spin 0.3s ease-out;
  --animate-slideInDown: fadeIn 0.2s ease-out, slideIn 0.2s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes modalSlide {
    from {
      opacity: 0;
      transform: translate(0, 2rem) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
